<!DOCTYPE html>
<html>
  <head>
    <title>TrustyList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <meta property="og:title" content="TrustyList" />
    <meta property="og:description" content="TrustyList will keep your tasks privately stored in our secure cloud" />
    <meta name="author" content="Keely Lee">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
